apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: 'fiware-sdc-trust-anchor'
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://fiware.github.io/data-space-connector/'
    targetRevision: 0.2.1
    chart: trust-anchor
    helm:
      values: |
        trusted-issuers-list:
          # -- it should work as the TrustedIssuersRegistry of the dataspace, thus we publish this api only
          ingress:
            tir:
              enabled: true
              hosts:
                - host: tir.{{ .Values.global.trustanchor.domainSuffix }}
            til:
              enabled: true
              hosts:
                - host: til.{{ .Values.global.trustanchor.domainSuffix }}

        mysql:
          primary:
            persistence:
              enabled: false
          secondary:
            persistence:
              enabled: false
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: trust-anchor
  syncPolicy:
    syncOptions:
    - CreateNamespace=true

